
@media screen and (max-width: 414px){

		#grid{
			display: flex;
			flex-direction: column;
			max-height:450px;
			max-width: 300px;
		
		}

	.square{
			flex: 0 1 76px;
			max-width: 200px;


		

		}
}